@import '@/_mixin.scss';
@import '@/_variable.scss';

.container {
  width: 100%;
  padding: 5rem 1.25rem;

  @include mobile {
    padding: 1.5rem 1.5rem;
  }
}

.footerHeaderTextContainer {
  display: flex;
  align-items: center;
  gap: 1rem;

  & > span {
    border-width: 0.0313rem;
    height: 1rem;
    border-style: solid;
    border-color: whiteAlpha(0.2);
    line-height: inherit;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    & > span {
      display: none;
    }

    & > h1 {
      font-size: 1rem !important;
    }
  }
}

.footerTextContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  @include mobile {
    gap: 0.5rem;
  }
}

.footerTextFlexContainer {
  width: 100%;
  display: flex;
  gap: 1rem;

  @include mobile {
    flex-direction: column;
    gap: 0.5rem;
  }
}

.footerText {
  & > span {
    font-weight: 700;
  }
}

.lastFooterText {
  margin-top: 1.25rem;

  @include mobile {
    margin-top: 0.5rem;
  }
}
